In [1]:
#Nur did this, you're welcome <3
#Naman loves y'all ;)  
import pandas as pd
import matplotlib

## About the project:

The goal of this project is to create a tutorial for Data Science by performing essential DS pipeline steps on real data. We are using Affordable Housing data throughout the USA to show how the Data Science Pipeline can be used to attain useful information and make reasonable comparisions and conclusions. For example, we can find out what racial or age demographic inhibits these affordable apartments and use our historical knowledge to make reasonable assumption about these housing initiatives. This is also a tutorial of how evidence found in the data pipeline can be used conclusively, and our plan is to show that by cleaning, analysing and medling our Affordable housing data in this project.

In [2]:
#pip install openpyxl

In [8]:
#data = pd.read_excel("STATE_2020.xlsx")
#data

In [9]:
#data.drop(columns=['Quarter', 'gsl', 'entities', 'sumlevel', 'sub_program', 'fedhse', 'cbsa', 'place', 'latitude', 'longitude', 'pha_total_units', 'ha_size'])

drop gsl col, state, entities, sumlevel, sub_program, fedhse, cbsa, place, latitude, longitude, pha_total_units, ha_size

In [30]:
LIHTC_data = pd.ExcelFile("2018-LIHTC-Tenant-Tables.xlsx")

sheets = {}
for sheet_name in LIHTC_data.sheet_names:
    sheets[sheet_name] = pd.read_excel("2018-LIHTC-Tenant-Tables.xlsx", sheet_name=sheet_name)
    
sheets["Table 4"]

,Table 4: Race/Ethnicity of Heads of Household,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,Properties Reported (%),NOT HISPANIC,NaN,NaN,NaN,NaN,NaN,Hispanic (Any Race) (%),NaN,Total (%)
1,State,NaN,White Alone (%),Black or African American Alone ...,Asian Alone (%),American Indian and Alaska Native Alone ...,Native Hawaiian and Other Pacific Islander Alo...,Other (including Multiple Race) ...,NaN,Race or Ethnicity Not Reported (%),Total (%)
2,Alabama,86.36364,34.45933,63.74529,0.30981,0.20529,0.10451,0.80624,0.35086,0.01866,99.99999
3,Alaska,100,52.25753,6.68896,4.1806,18.22743,2.17391,0.25084,4.34783,11.87291,100.00001
4,Arizona,94.71154,35.68655,13.70379,1.21932,7.16837,0.29124,2.15129,33.10811,6.67133,100.0
...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN